{% extends "base.html" %}

{% block title %}Services | Cloud 5 Auto Concepts{% endblock %}

{% block content %}

  <!-- Background Image Section -->
  <section id="background-section" class="d-flex align-items-center justify-content-center" style="background-image: url('https://static.vecteezy.com/system/resources/thumbnails/027/484/635/small_2x/man-cleaning-and-detailing-luxury-car-with-microfiber-cloth-car-wash-service-man-hand-holding-blue-microfiber-cloth-polish-red-car-after-cleaning-auto-care-service-business-concept-generative-ai-photo.jpg'); background-size: cover; background-position: center center; height: 50vh; max-width: 100%; color: #fff; filter: grayscale(0.2);">
    <div class="container text-center">
      <p class="lead">We're here to help with all your car care needs!</p>
    </div>
  </section>
  <!-- /Background Image Section -->

<!-- Services Section -->
<section id="services" class="services section">
  <!-- Section Title -->
  <div class="container section-title" data-aos="fade-up">
    <h2>Services We Provide</h2>
    <p>Explore Our Wide Range of Premium Services :</p>
    <br />
    <p>
      At <b class="text-yellow" style="color: #fccb01; font-size: large;">RedBandRacing</b> , we offer a comprehensive suite of car care services, tailored to meet the needs of every vehicle. Our commitment to quality and customer satisfaction ensures that your car not only looks its best but also performs at its peak. Here’s a detailed look at the premium services we offer:
    </p>
  </div>
  <!-- End Section Title -->

  <div class="container">
    <div class="row gy-4">
      <div class="col-md-6" data-aos="fade-up" data-aos-delay="100">
        <div class="service-item d-flex position-relative h-100 bg-light">
          <i class="bi bi-lightning icon flex-shrink-0"></i>
          <div>
            <h4 class="title"><a href="service-details.html" class="stretched-link">ECU & TCU Remapping :</a></h4>
            <p class="description">Enhance your car’s performance with our ECU & TCU remapping services. We fine-tune your engine and transmission settings for increased horsepower, better throttle response, and improved fuel efficiency. Our expert team customizes the remapping to match your driving style, delivering a smoother, more responsive ride.</p>
          </div>
        </div>
      </div>
      <!-- End Service Item -->

      <div class="col-md-6" data-aos="fade-up" data-aos-delay="200">
        <div class="service-item d-flex position-relative h-100 bg-light">
          <i class="bi bi-droplet icon flex-shrink-0"></i>
          <div>
            <h4 class="title"><a href="service-details.html" class="stretched-link">Paint Protection Film (PPF) :</a></h4>
            <p class="description">Protect your car's paintwork with high-quality, self-healing Paint Protection Film (PPF). This invisible barrier shields against scratches, chips, stains, and environmental hazards like road debris and bird droppings. PPF helps maintain your vehicle's appearance and resale value, offering long-lasting protection without compromising its look.</p>
          </div>
        </div>
      </div>
      <!-- End Service Item -->

      <div class="col-md-6" data-aos="fade-up" data-aos-delay="300">
        <div class="service-item d-flex position-relative h-100 bg-light">
          <i class="bi bi-gem icon flex-shrink-0"></i>
          <div>
            <h4 class="title"><a href="service-details.html" class="stretched-link">Ceramic, Graphene & Nano Diamond Coatings :</a></h4>
            <p class="description">Our ceramic, graphene, and nano-diamond coatings offer unbeatable protection and shine. These advanced coatings provide exceptional hydrophobic properties, making water, dirt, and contaminants easily slide off. They create a durable protective layer, reducing scratches and swirl marks while enhancing the car's color and gloss, minimizing maintenance and preserving value.</p>
          </div>
        </div>
      </div>
      <!-- End Service Item -->

      <div class="col-md-6" data-aos="fade-up" data-aos-delay="400">
        <div class="service-item d-flex position-relative h-100 bg-light">
          <i class="bi bi-recycle icon flex-shrink-0"></i>
          <div>
            <h4 class="title"><a href="service-details.html" class="stretched-link">Restoration & Body Kits :</a></h4>
            <p class="description">Revitalize your car with our expert restoration services and custom body kits. Whether restoring its original beauty or adding personalized features, we offer top-notch craftsmanship to exceed expectations. From bumpers and spoilers to full body kit installations, we help you achieve the unique look you’ve always wanted.</p>
          </div>
        </div>
      </div>
      <!-- End Service Item -->

      <div class="col-md-6" data-aos="fade-up" data-aos-delay="500">
        <div class="service-item d-flex position-relative h-100 bg-light">
          <i class="bi bi-brightness-high icon flex-shrink-0"></i>
          <div>
            <h4 class="title"><a href="service-details.html" class="stretched-link">Premium Wraps & Decals :</a></h4>
            <p class="description">Transform your car with our premium wraps and decals, offering a variety of colors, textures, and finishes to match your unique style. Whether you choose a full wrap or striking decals, our high-quality wraps enhance your vehicle's look while safeguarding the original paint beneath.</p>
          </div>
        </div>
      </div>
      <!-- End Service Item -->

      <div class="col-md-6" data-aos="fade-up" data-aos-delay="600">
        <div class="service-item d-flex position-relative h-100 bg-light">
          <i class="bi bi-calendar4-week icon flex-shrink-0"></i>
          <div>
            <h4 class="title"><a href="service-details.html" class="stretched-link">Interior Deep Clean :</a></h4>
            <p class="description">Our deep cleaning services ensure your car’s interior stays fresh, clean, and hygienic. We meticulously clean every corner, from carpets to upholstery, removing dirt, stains, and odors. With advanced techniques, we restore your vehicle's interior to like-new condition, providing a comfortable and pleasant driving experience.</p>
          </div>
        </div>
      </div>
      <!-- End Service Item -->

      <div class="col-md-6" data-aos="fade-up" data-aos-delay="500">
        <div class="service-item d-flex position-relative h-100 bg-light">
          <i class="bi bi-brightness-high icon flex-shrink-0"></i>
          <div>
            <h4 class="title"><a href="service-details.html" class="stretched-link">Premium Foam Wash & Ceramic Wash :</a></h4>
            <p class="description">Our premium foam and ceramic wash services offer a gentle yet effective clean for your vehicle. We use high-quality foam and soft materials to remove dirt without damaging your paint. The ceramic wash adds extra protection, keeping your car cleaner for longer while preserving its glossy finish.</p>
          </div>
        </div>
      </div>
      <!-- End Service Item -->

      <div class="col-md-6" data-aos="fade-up" data-aos-delay="600">
        <div class="service-item d-flex position-relative h-100 bg-light">
          <i class="bi bi-android2 icon flex-shrink-0"></i>
          <div>
            <h4 class="title"><a href="service-details.html" class="stretched-link">Android System Installation:</a></h4>
            <p class="description">
              Upgrade your driving experience with the latest Android infotainment systems. At <b class="text-yellow" style="color: #fccb01; font-size: large;">RedBandRacing</b>, we offer expert installation, bringing advanced navigation, multimedia, and smartphone connectivity to your car. Enhance both aesthetics and performance with our premium services, including coatings, remapping, custom body kits, and more!
            </p>
          </div>
        </div>
      </div>
      <!-- End Service Item -->
    </div>
  </div>
</section>
<!-- /Services Section -->
{% endblock  %}